body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#up{
    bold
}
.banner-card{
    position: relative;
}
.banner-card img{
    width: 100%;
    height: auto;
}
.banner-text{
    position: absolute;
    top: 25%;
    color: white;
    padding-left: 15%;
    text-align: center;
}
.link-ad{
    text-decoration: none;
    background-image: linear-gradient(pink, tomato);
    padding: 5px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#donate-area{
   padding-left: 40%;

}
#donate-elaka{
    padding-left: 10%;
}
#donate-our{
    padding-top: 10%;
    padding-right: 15%;
}
#donate-help{
    padding-right: 15%;

}
.button {
    background-color: rgb(241, 169, 169) border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button1 {
    padding: 32px 16px;
}

.button2 {
    padding: 32px 16px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button3 {
    padding: 32px 16px;
}

.button4 {
    padding: 32px 16px;
}

.button5 {
    padding: 32px 16px;
}

.pad-area {
    margin-top: 20px;
    margin-left: 400px;

}
#fname{
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 5%;

}
#link-donate{
    text-decoration: none;
        background-image: linear-gradient(pink, tomato);
        padding: 5px 40px;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        margin-left: 38%;
        margin-top: 20%;
}
.card {
    width: 300px;
    background-color: bisque;
    height: 380px;
    border: 2px solid black;
    box-shadow: 3px 2px 5px black;
    float: left;
    margin: 30px;
    
}
.card-pad{
    padding-left: 10%;
}

.card-title h1 {
    text-align: center;
    padding: 10px;
}

.card-text {
    padding: 10px;
}
.donate-plan{
    text-align: center;
    margin-top: 10S%;
}


.flexible-area{
    display: flex;
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
}
.flexible-area img{
    width: 280%;
    padding-left: 40%;
}
.item-item{
    display: flex;
    width: 50%s;
    
}
#img-area{
    width: 200%;
}
#hero-area{
    padding-left: 40%;
}
.mail-area {
    text-align: center;
    margin-top: 5%;
}
.card-man {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    background-color: bisque;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
    padding: 2px 16px;
}
.move-mail{
    margin-left: 31%;
    margin-bottom: 15px;
}
#mail-person{
    padding-left: 30%;
    
}
.footer{
    width: 100%;
    background-color: rgb(2, 2, 17);
    padding: 5% 0%;

}
.last-pera{
    text-align: center;
    color: azure;
}
#hablu{
    font-family:dancing scipt ;
}